@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url(https://fonts.googleapis.com/css?family=Khula:700);

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: auto;
  background-color: white;
}

.container {
  max-width: 1200px;
  margin: auto;
}
#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
}
.logo-name {
  font-family: monospace;
  font-size: 2rem;
  color: rgb(254, 254, 255);
}
.logo_name {
  font-family: monospace;
  font-size: 1.5rem;
  color: rgb(32, 32, 34);
}

.divisor {
  padding: 2rem;
}

#headfix.is-fixed {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  margin: auto;
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: fixed;
  transition: all 0.1s linear;
  animation: scroll 0.3s;
  z-index: 1;
}

@keyframes scroll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
a {
  text-decoration: none;
}

a:visited {
  color: rgba(0, 0, 0, 0.74);
}

#navegacion a {
  font-size: 14px;
  padding: 0.3rem 0.6rem;
  font-family: system-ui;
  text-decoration: none;
}
.submenu {
  position: relative;
}
.submenu #carrito {
  display: none;
}
.submenu:hover #carrito {
  display: block;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  top: 100%;
  z-index: 1;
  background-color: rgba(128, 126, 126, 0.829);
  padding: 20px;
  min-height: 400px;
  min-width: 300px;
}

#img-carrito {
  position: relative;
  top: 7px;
}

td {
  font-family: monospace;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(150, 142, 142);
}

.borrar-curso {
  font-family: monospace;
  box-shadow: 1px 0 5px black;
  background-color: rgb(255, 0, 0);
  text-decoration: none;
  border-radius: 50%;
  color: white;
}

.borrar-curso:active {
  background-color: rgb(184, 12, 12);
  color: white;
}

td img {
  width: 120px;
}

.submenu th {
  border-bottom: 1px solid gray;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: monospace;
}

form {
  text-align: center;
  width: auto;
  padding: 5px;
  border-radius: 10px;
  margin: auto;
}

form label {
  width: 7px;
  font-weight: bold;
  display: inline-block;
}

form input[type="submit"] {
  width: 100px;
  padding: 0.3rem;
  border: 1px solid rgb(145, 140, 140);
  border-radius: 10px;
  color: #fff;
  background-color: rgb(65, 121, 173);
}

input::placeholder {
  text-align: center;
}

#name {
  padding: 0.3rem 0.3rem;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

form input[type="submit"]:hover {
  cursor: pointer;
}

.hero {
  position: relative;
  background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);
}

.herotext {
  padding: 2rem 0;
  font-size: 1.3rem;
  border-radius: 0.31em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%);
  color: white;
  z-index: 0;
  text-shadow: 3px 3px 4px rgb(0 0 0 / 50%);
}
.hero h1 {
  font-size: 4rem;
}

.herotext p {
  font-style: italic;
  font-size: 1.5rem;
}

.slider {
  width: 100%;
  overflow: hidden;
  padding: 2rem 0;
}

.slider ul {
  padding: 0;
  display: flex;
  width: 400%;
  animation: cambio 40s ease-in  infinite ;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
  object-fit: cover;
  height: 500px;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  50% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  75% {
    margin-left: -200%;
  }
  75% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}
.experts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.cont-expert {
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
  color: #58a2ea;
}
.cont-expert img {
  width: 80%;
  margin: 0 auto;
}
.n-expert {
  display: inline-block;
  margin-top: 2rem;
  width: 100%;
  font-weight: 400;
}
.subtitulo {
  padding: 2rem;
  text-align: center;
  font-weight: 500;
  color: #ffc927;
  margin-bottom: 40px;
  font-size: 2.5rem;
  text-shadow: 1px 1px 1px black;
}
#lista-cursos .row {
  margin-bottom: 20px;
}
.agregar-carrito {
  margin: 10px 0;
}

.agregar-carrito:active {
  background-color: #736ea3;
  color: white;
}

.agregar-carrito {
  text-decoration: none;
  background: rgb(255 201 39);
  color: #fff;
  border: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0.2em;
  padding: 0.2em 2.2em;
  cursor: pointer;
  box-shadow: 3px 3px 5px;
}

.card {
  width: auto;
  height: auto;
  color: white;
  text-align: center;
  border-radius: 5%;
  border: 1px solid #121313;
  background: rgb(0 0 0 / 87%);
  margin-bottom: 4.4rem;
  box-shadow: 5px 2px 5px rgb(63 61 86);
  padding: 1rem;
}
.info-card {
  padding: 1rem 1rem;
  text-align: center;
  margin: 1rem 1rem;
}
.info-card p,
.card h4 {
  margin-bottom: 5px;
}
.info-card .precio {
  font-size: 18px;
  margin-top: 10px;
}
.imagen-curso {
  width: 300px;
  height: 200px;
}
#cursos .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.caja-referencias {
  text-align: center;
  text-shadow: 1px 2px 1px black;
}

footer {
  background-color: rgb(0, 0, 0);
  padding-bottom: 0.1px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;
}
.contact-us {
  width: 40%;
  color: #fff;
}
.brand {
  font-weight: 300;
  font-size: 40px;
}
.brand + p {
  font-weight: 500;
}
.social-media {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.social-media-icon {
  display: inline-block;
  margin-left: 20px;
  height: 60px;
  width: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.bxl-facebook {
  color: white;
}

.bxl-facebook:hover {
  color: #3f3d56;
}

.social-media-icon:hover {
  background: #fff;
  color: rgb(63, 61, 86);
}

.social-media-icon i {
  font-size: 30px;
  line-height: 60px;
}
.line {
  width: 90%;
  max-width: 85%;
  margin: 0 auto;
  height: 2px;
  background: #ffc927;
  margin-bottom: 60px;
}
.registred {
  text-align: center;
  color: #fff;
}
#comentarios {
  font-size: 2rem;
}

#ocultarmails {
  padding: 1.2em 2.2em;
  font-weight: 600;
    box-shadow: 3px 3px 5px;
    text-shadow: 1px 1px 1px black;
}

#vermails {
  padding: 1.2em 2.2em;
  font-weight: 600;
    box-shadow: 3px 3px 5px;
    text-shadow: 1px 1px 1px black;
}

.console-container {
  font-family: monospace;
  background-color: rgba(0, 0, 0, 0.603);
  font-size: 4rem;
  width: 50%;
  text-align: center;
  height: 250px;
  display: block;
  position: absolute;
  align-self: center;
  color: #ffc927;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

@media (max-width: 1368px) {
  #headfix.is-fixed {
    padding: 0 3%;
  }
}

@media (max-width: 1024px) {
  .console-container {
    font-size: 4rem;
  }
  .slider {
    height: auto;
  }
  #headfix.is-fixed {
    padding: 0;
  }
}
@media (max-width: 570px) {
  #comentarios {
    font-size: 12px;
  }
  .console-container {
    font-size: 3.5rem;
    width: 300px;
    height: 300px;
  }
  .social-media {
    margin: 0;
  }

  .logo {
    width: 60px;
  }

  .social-media-icon {
    margin: 1rem;
  }

  .footer-content {
    padding-bottom: 0;
  }

  #navegacion a {
    font-size: 10px;
    padding: 7px;
  }
  #navegacion {
    text-align: center;
  }

  .submenu:hover #carrito {
    position: inherit;
    padding: 0;
    min-height: auto;
  }
  .card {
    text-align: left;
  }
  .cont-expert {
    width: 40%;
  }
  .footer-content {
    flex-direction: column;
  }
  .contact-us {
    width: auto;
    text-align: center;
  }
  .logo-name {
    font-family: monospace;
    font-size: 1.5rem;
  }
  .social-media {
    width: auto;
    display: flex;
    margin: 2rem;
  }
  .herotext {
    font-size: 1em;
  }
  .hero h1 {
    font-size: 2rem;
  }
  header .container {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  #navegacion a {
    font-size: 0.8rem;
    padding-left: 0.5rem;
  }

  .submenu th {
    font-size: 0.75rem;
  }
}

@media (max-width: 400px) {
  .card {
    padding: 0;
  }
  .console-container {
    font-size: 4rem;
    height: 300px;
    width: 300px;
  }
  #navegacion a {
    font-size: 7px;
    padding: 5px;
  }

  #img-carrito {
    font-size: 1rem;
    top: 4px;
    width: 20px;
    right: 7px;
  }

  .submenu th {
    padding: 0px;
    font-size: 10px;
  }

  td {
    padding: 0.3rem;
  }
}

.hidden {
  opacity: 0;
}
